@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,300italic,400italic,600italic);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body{
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-weight: 100px;
	color: #38592E;
	font-size: 14px;
}

h1{
	font-family: 'Titillium Web', sans-serif;
	font-size: 34px;
	font-weight: 100;
	float: left;
	width: 50%;
	margin-left: 20px;
	padding: 0;
	margin-bottom: 0;
}

h2{
	font-family: 'Titillium Web', sans-serif;
	font-style: none;
}

h3{
	font-family: 'Titillium Web', sans-serif;
	font-size: 3em;
	line-height: 1.5em;
	font-weight: 700;
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 20px;
	text-align: center;


}

nav{
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5em;
	clear:both;
	margin-right: 10%;
	margin-bottom: 1em;

	float: right;




}
nav a{
	padding: 15px;
	text-align: right;
	color: #38592E;


}

#top img{
	margin-bottom: 0;
}


#call{

	font-weight: 600;
	font-size: 2.5em;
	color:#CBCBCA;
	float: right;
	margin-right: 11%;
	display: block;
	margin-bottom: 0;
}


a{
	text-decoration: none;
	color: #000;
	font-weight: 800;

}

span{
	font-size: 40px;
	margin-left: 20px;

}

a:hover{
	color: #767678;
}

blockquote {
	text-align: center;
	margin: 1.5em 5%;
	line-height: 1.5em;
	margin-bottom: 0;

}

blockquote p{
	margin-bottom: 0;
}


footer{
	background-color: #fff;
	text-decoration: none;
	height: 100px;
	clear: both;
	text-align: center;
	padding-top: 1.5em;
	min-width: 500px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 2em;

}

footer a{

	padding: 15px;	
	color: #467339;
}

#main_content img{
width: 100%;

}

#wrapper{

	margin: auto;
	width: 100%;
	padding: 0;
	margin:0;
}

#logo{

	margin-left: 10%;
	margin-bottom: .5em;
}

#main_content{

float:left;
width: 100%;


}

#cta{

	font-size: 1.5em;
	font-weight: 500;
	line-height: 2em;
}

#service{

	/*background-image: url("http://beccos.github.io/Menz/img/1_truck.jpg");*/
	padding-bottom: 2.5em;
}

#commitment{

	background-color: #467339;
	color: #fff;
	padding-bottom: 4.5em;

}

#commitment img{
	width: 50%;
	margin: .5em 25%;
}

.content{


	padding: 1.5em 12%;


}

#numbers{
	float:left;
	font-weight: 100;
	display: block;
	font-size: 1.2em;
	text-align: left;
}

#maps {

	float: right;
	max-width: 45%;

	
}





@media screen and (max-width: 480px) {

#logo{

	margin-right: 25%;
	margin-left: 25%;
}

#call{
	text-align: center;
	margin-right: 2%;
	margin-left: 2%;
	font-size: 28px;
}
}


#service{
	padding: 0;
}




#numbers{
	max-width: 100%;
	float:left;
	font-weight: 100;
	display: block;
	font-size: 1.2em;
	text-align: center;
}

#maps {
	max-width: 100%
	clear: both;
	text-align: center;
	float: none;
	padding: 5% ;
	
}
}
