@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {

text-align: center;
font-family: Georgia;
border: 0px;
padding: 0px;
margin: 0px;
}

h1 {
font-family: 'Noto Sans', sans-serif;
color: #FFF;
text-align: center;
padding: 0;
font-size: 38px;
font-weight: 300;
margin-bottom: 0px;

}

h2 {
font-family: 'Noto Sans', sans-serif;
color: #727575;
margin-top: 0px;
}

#slogan {
font-family: 'Noto Sans', sans-serif;
font-size: 24px;
text-align: center;
color: #FFF;
margin-bottom: 20px;
}

p{
font-family: Georgia;
max-width: 60%;
text-align: justify;
margin-left: 20%;
font-size: 14px;
color: #727575;

}

img{
border: 10px;
margin-top: 50px;

}
ul{
text-align: center;
margin-left: 43%;

}

li {
margin-left: 5px;
font-family: Georgia, sans-serif;
color: #727575; 
text-align: left;

}

#header{
background-color: #727575;
margin-bottom: 50px;

}

#main{

	text-align: center;

}

#contact{
max-width: 100%;
text-align: center;
color: #727575;
font-size: 26px;

}
#button{

margin-top: 5px;

}