@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);

body {

text-align: center;
font-family: 'Open Sans', sans-serif;
border: 0px;
padding: 0px;
margin: 0px;
}

h1 {
font-family: 'Lato', sans-serif;
text-transform: 900;
color: #FFF;
text-align: center;
padding: 0;
font-size: 36px;

}

h2 {
font-family: 'Lato', sans-serif;
color: #727575;
}

#slogan {
font-family: 'Lato', sans-serif;
text-decoration: ;
font-size: 24px;
text-align: center;
color: #FFF;
margin-bottom: 40px;
}

p{
font-family: Georgia;
max-width: 60%;
text-align: justify;
margin-left: 20%;
font-size: 14px;
color: #727575;

}

img{
border: 20px;
margin-top: 50px;

}
ul{

max-width: 120px;	
}
li {
margin-left: 5px;
font-family: 'Open Sans', sans-serif;
color: #727575; 
}

#header{
background-color: #727575;
margin-bottom: 50px;

}

#main{

	text-align: center;

}

#list{

max-width: 20%;
margin-left: 40%;
color: #727575;
line-height: 20px;

}

#contact{
max-width: 100%;
text-align: center;
color: #727575;
font-size: 26px;

}
#button{

margin-top: 5px;

}